
<%- include('../partials/_head') %>
<div class="container">
<main>
  <h1>Edit Photo</h1>
  <div>
    <form action="/albums/<%= photo.album %>/photos/<%= photo._id%>?_method=PUT" method="POST">
      <!-- <div class="form-group row ele">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Url</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="url colFormLabel" name="url" required value="<%= photo.url%>">
        </div>
      </div> -->
      <div>
        <label for="url">Url: </label>
        <br/>
        <input type="text" id="url" name="url" required value="<%= photo.url%>">
      </div>
      <div>
        <label for="date">Date: </label>
        <br/>
        <input type="date" id="date" name="date" value="<%= photoDateString %>">
      </div>
      <div>
        <label for="location">Location: </label>
        <br/>
        <input type="text" id="location" name="location" required value="<%= photo.location %>">
      </div>
      <div>
        <label for="description">Description: </label>
        <br/>
        <textarea name="description" id="description" cols="30" rows="10" required><%= photo.description %></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</main>
</div>
<%- include('../partials/_footer') %>
