<%- include('../partials/_head') %>
<main class="dark-theme container">
  <!--Photo Properties-->
    <h2><%= albumName %></h2>
    <h5><a href="/albums/<%=photo.album %>">Back to Album</a></h5>
    <div class="photo-navigation">
      <!--Previous Photo Link-->
      <% if (photoPosition > 0) {%>
        <a href="/albums/<%= photo.album %>/photos/<%= albumPhotosArray[photoPosition - 1]%>">Previous Photo</a>  
      <% } else { %>
        Previous Photo 
      <% } %>
      <!--Next Photo Link-->
      <% if (photoPosition < albumPhotosArray.length - 1) {%>
        <a href="/albums/<%= photo.album %>/photos/<%= albumPhotosArray[photoPosition + 1]%>">Next Photo</a>  
      <% } else { %>
        Next Photo
      <% } %>
    </div>
  <!--Show Image-->
  <div class="show-body__img">
    <img class="img-fluid" src="<%= photo.url%>" alt="image">
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-md justify-content-center">
      <strong>Description: </strong>
        <%= photo.description %>
    </div>
    <div class="col-md justify-content-center">
      <strong>Location: </strong>
        <%= photo.location %>
    </div>
    <div class="col-md align-items-center justify-content-center">
      <Strong>Date:</Strong>
      <% if (photo.date) { %>
      <%= photo.date.toLocaleDateString() %>
      <% } %>
    </div>
  </div>
  <div class="row justify-content-center">
    <!--Edit Button-->
    <div class="col-auto">
      <a href="/albums/<%= photo.album %>/photos/<%= photo._id %>/edit"><button>Edit</button></a>
    </div>
    <!--Delete Button-->
    <div class="col-auto">
      <form action="/albums/<%= photo.album %>/photos/<%= photo._id %>?_method=DELETE" method="POST">
        <button class="delete" type="submit">Delete</button>
      </form>
    </div>
  </div>
</main>
<%- include('../partials/_footer') %>