<%- include('../partials/_head') %>
<main>
  <h1>Edit Album</h1>
  <div>
    <form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Album</button>
    </form>
  </div>
  <div>
    <form action="/albums/<%= album._id %>?_method=PUT" method="POST">
    <div>
      <label for="albumName">Album Name: </label>
      <input type="text" id="albumName" name="albumName" 
      value="<%= album.albumName %>">
    </div>
    <div>
      <label for="date">Date: </label>
      <input type="date" id="date" name="date"
      value="<%= album.date.toString() %>">
    </div>
    <div>
      <label for="location">Location: </label>
      <input type="text" id="location" name="location"
      value="<%= album.location %>">
    </div>
    <div>
      <label for="description">Description: </label>
      <textarea name="description" id="description" cols="30" rows="10"><%= album.description %></textarea>
    </div>
    <button type="submit">Submit</button>
    </form>
  </div>
</main>
<%- include('../partials/_footer') %>