<%- include('../partials/_head') %>
<main>
  <!--TODO: replace User w/ username-->
  <h2>Welcome, <%= username %></h2>
  <h3>Profile Page</h3>
<a href="/albums/new">Add a New Album</a>

<div>
  <% albums.forEach((album) => { %>
    <div>
      <%= album.albumName %>
      <nav>
        <ul>
          <li>
            <a href="/albums/<%= album._id %>">View Album</a>
          </li>
          <li>
            <a href="/albums/<%= album._id %>/edit">Edit Album</a>
          </li>
          <li>
            <a href="/albums/<%= album._id %>/photos/new">Add Photo</a>
          </li>
        </ul>
      </nav>
    </div>
  <% }) %>
</div>

</main>

<%- include('../partials/_footer') %>