<%- include('../partials/_head') %>
<main>
  <div>
    <h1>Album View</h1>
    <h4>Date: <%= album.date %></h4>
    <h4>Location: <%= album.location %></h4>
    <p><%= album.description %></p>
  </div>
  <div>
    photos go here
  </div>

</main>
<%- include('../partials/_footer') %>