<%- include('../partials/_head') %>
<main class="dark-theme container">
  <div>
    <!--Album Name-->
    <div class="view-title">
      <h1> <%= album.albumName %> </h1>
    </div>
    <!--Album Properties-->
    <div class="row align-items-center justify-content-center">
      <div class="col-sm">
        <strong>Date:</strong> <%= album.date.toLocaleDateString() %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <strong>Location:</strong> <%= album.location %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p><%= album.description %></p>
      </div>
    </div>
    </div>
  </div>
  <!--Buttons-->
  <div class="button-group">
    <!--Edit Album-->
    <div>
      <a href="/albums/<%= album._id %>/edit"><button>Edit Album</button></a>
    </div>
    <div>
      <!--Delete Album-->
      <form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
        <button class="delete" type="submit">Delete Album</button>
      </form>
    </div>
  </div>
  <!--Show Photo thumbnails-->
  <div class="container">
  <div class="album-card-group">
    <% albumPhotos.forEach((albumPhoto) => { %>
      <div class="card h-100" style="width: 300px;">
        <a href="/albums/<%= album._id %>/photos/<%= albumPhoto._id %>">
        <img class="card-img" src="<%= albumPhoto.url %>" alt=""/>
      </a>
      </div>
    <% }) %>
  </div>

  </div>
</main>
<%- include('../partials/_footer') %>