<%- include('../partials/_head') %>
<main>
  <div>
    <h1>Album View</h1>
    <a href="/albums/<%= album._id %>/edit">Edit Album</a>
    <h4>Date: <%= album.date.toLocaleDateString() %></h4>
    <h4>Location: <%= album.location %></h4>
    <p><%= album.description %></p>
  </div>
  <div>
    <p>
      photos go here
    </p>
  </div>
  <div>
    <form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Album</button>
    </form>
  </div>

</main>
<%- include('../partials/_footer') %>